USE [master]
GO
/****** Object:  Database [DbPersona]    Script Date: 13/08/2021 11:16:21 ******/
CREATE DATABASE [DbPersona]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbPersona', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DbPersona.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbPersona_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DbPersona_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbPersona].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbPersona]
GO
USE [DbPersona]
GO
/****** Object:  Table [dbo].[TblPersona]    Script Date: 13/08/2021 11:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPersona](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Dpi] [varchar](30) NOT NULL,
	[Direccion] [varchar](1000) NOT NULL,
	[Genero] [char](1) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Escolaridad] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_TblPersona] PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblPersona]  WITH CHECK ADD  CONSTRAINT [FK_TblPersona_TblPersona] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[TblPersona] ([IdPersona])
GO
ALTER TABLE [dbo].[TblPersona] CHECK CONSTRAINT [FK_TblPersona_TblPersona]
GO
USE [master]
GO
